html{
    scroll-behavior: smooth;
}
/*body*/
body{
    font-family: 'Montserrat', sans-serif;
}

body *{
    margin: 0;
    border: 0;
    padding: 0;
}

h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 3.5rem;
}

h3{
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem; 
    color: #ffffff;
}

h4{
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    color: #ffffff;
}

.texto__fondo__blanco{
    color: #000000;
}
/*body*/

/*NavBar*/
.navbar{
    background-color: #000000 !important;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
    color: #ffffff !important;
}
svg{
    width: 80px;
}
nav h2{
    color: #343a40;
    font-size: 3rem;
}
.nav-item{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
}

.nav-item{
    margin: auto 0;
}
/*NavBar*/

/*Hero section*/
.hero{
    background-image: url(../Img/Graduadisimo-campeon-color.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height:650px;
    margin-top: 50px;
    padding-top: 80px;
    text-align: right;
    color: #ffffff;
}
.hero__contenido{
    margin-top: 25rem;
}
.header__fondo__texto{
    background-color: #000000;
    display: inline-block;
    padding: 8px;
    margin-right: 1rem;
    font-family: 'Bebas Neue', cursive;
}
.header__texto__titulo{
    font-size: 4rem;
}

.header__texto__subtitulo{
    font-size: 2rem;
}
/*Hero section*/

/*sobre mi*/
.sobre__mi{
    background-color: #000000;
    color: #ffffff;
}
.sobre__mi__titulo{
    background-color: #000000; 
}
/*sobre mi*/

/*experiencia*/
.posicion__experiencia{
    background-color: #000000;
    height: 66px;
    position: relative;
    visibility: none;
}
.logo__experiencia{
    margin: 0 auto;
}
.subtitulo__experiencia{
    color: #000000;
}
.logo__idk{
    width: 200px;
}

.experiencia__contenido{
    border-bottom: solid #000000 3px;
    padding-bottom: 2rem;
}

/*experiencia*/

/*ultimos trabajos*/
.posicion__ultimos__trabajos{
    background-color: #ffffff;
    height: 54px;
    position: relative;

}
.ultimos__trabajos{
    background-color: #000000;
}

.ultimos__trabajos__imagen__lista{
    object-fit: cover;
}

.ultimos__trabajos__titulo{
    color: #ffffff;
}
.card{
    border-radius: 0 !important;
}
.card__text__content__alvea{
    margin-top: 4rem;
}
.card__text__content__careta{
    margin-top: 6rem;
}

.card__text__content__cronicas{
    margin-top: 14rem;
}

.card__text__background{
    display: inline-block;
    background-color: #000000;
}

.card-title{
    margin: 5px 10px;
}

.card__subtitulo{
    color: #ffffff;
    margin: 5px 10px !important     ;
}
.modal-body img{
    width: 100%;
    height: auto;
}

.boton__movil{
    background-color: #000000 !important;
}
/*ultimos trabajos*/
/*Ilustarcion*/
.ilustracion{
    background-color: #000000;
    color: #ffffff;
}
.container__ilustracion{
    line-height:0;
    -webkit-column-count:5;
    -webkit-column-gap:0;
    -moz-column-count:5;
    -moz-column-gap:0;
    column-count:5;
    column-gap:0}
.img__btn{
    width:100%;
    height:auto;
    transition:filter .2s
}
.btn__invisible {
    border: none;
    background-color: none;
    cursor: pointer;
}

.btn__invisible__mobile {
    border: none;
    background-color: none;
    cursor: pointer;
    visibility: hidden;
}
.modal-content{
    border: none;
}
.modal-body{
    box-sizing: content-box;
}

.img__btn {
    width: 100%;
}

.img__btn:hover {
    filter: brightness(1.5);
}


/*typeform*/
.newsletter{
    color: #000000;
    text-align: center;
    border-radius: 0;
    margin-bottom: 0 !important;
    height: 400px;
}

.newsletter__contenido{
    vertical-align: middle;
}

.display-4{
    font-weight: 700;
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
}

.lead{
    font-weight: 400;
    font-size: 1.2rem;
}
.boton__newsletter{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    width: 14rem;
    margin: 0 auto;
}
/*typeform*/

/*footer*/
footer{
    background-color: #000000;
    text-align: center;
    padding-bottom: 2rem;
}

.texto__footer{
    color: #ffffff;
}

footer i{
    color: #ffffff;
    margin: auto 1rem;
}
/*footer*/


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
/*Experiencia*/
.experiencia__contenido{
    border-bottom: none;
    padding-bottom: 0;
}
/*Experiencia*/
/*ultimos-trabajos*/
.ultimos__trabajos__carrusel{
    padding-bottom: 5rem;
}
.carrusel__titulo{
    color: #ffffff;
}

.carrusel__subtitulo{
    color: #ffffff;
}
.carousel-indicators{
    bottom: -70px;
    margin-bottom: 1rem;
}
.carousel-indicators li{
    background-color: #ffffff !important;
    border-radius: 50%;
    height: 13pt;
    width: 13pt;
}
/*Diseño UX*/
.carrusel__card__alvea{
    background-image: url(../Img/UI_NuevoPersonaje.png);
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 230px;
}
.carrusel__card__barbacteria{
    background-image: url(../Img/card_barbacteria.png);
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carrusel__card__ricomida{
    background-image: url(../Img/card_ricomida.png);
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.carrusel__card__careta{
    background-image: url(../Img/card_careta.png);
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 230px;
}
.carrusel__card__otori{
    background-image: url(../Img/card_otori.png);
    position: relative;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
.carrusel__card__texto{
    position: absolute;
    font-size: 3rem;
    top: 160px;
    left: 20px;
}

.carrusel__card__texto__izq{
    position: absolute;
    font-size: 3rem;
    top: 160px;
    left: 30px;
}
.carrusel__card__fondo{
    background-color: #000000;
    color: #ffffff;
}

/*ultimos-trabajos*/

/*Hero section*/
    .hero{
        height: 497px;
        margin-top: 0px;
        padding-top: 2px;
    }
    .hero__contenido{
        margin-top: 9rem;
    }
    .header__texto__titulo{
        font-size: 8rem;
    }
    .header__texto__subtitulo{
        font-size: 4rem;
    }
/*typeform*/
.newsletter{
    height: 300px;
}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}